@charset "UTF-8";
/* CSS Document */

* {
    box-sizing: border-box;
}

/* HEADLINES FONT FAMILY */
.font1 {
    font-family: 'Montserrat', sans-serif;
}

/* PARAGRAPH FONT FAMILY */
.font2 {
    font-family: 'Cutive Mono', monospace;
}

/* styling the values */

.values h2 {
    text-align: center;
    margin-bottom: 3%;
}

.values_section {
    display: flex;
    justify-content: space-evenly;
}

.box {
    text-align: center;
    background-color: #fafafa;
    width: 200px;
    padding: 1%;
    border-radius: 15%;
}

.box i {
    color: #F85F02;
}

/* description values */
.container {
    display: flex;
    flex-direction: row;
    padding: 0% 20%;
    margin-top: 5%;
}

.container img {
    height: 200px;
}

.container p {
    margin-left: 10%;
    margin-top: 0%;
}

/* styling the banner and about section*/
.banner {

    height: 100vh;
    top: 0;
    background: url(images/banner-placeholder.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* .about-section {
    display: flex;
    width: 75vw;
    margin: 0 auto;
    margin-top: 5vw;
} */
/* 
.about-text,
.about-image {
    width: 30vw;
    margin: 0 auto;
} */

.about-section {
    display:flex; 
    padding: 0% 15%;
    gap: 15%;
    margin: 3% 0% 15% 0%;
}
.about-text {
    line-height: 1.6;
    font-size: 17px;
    margin-top: 5vw;
}

.about-image img {
    height: 28vw;
    margin: 0 auto;
    margin-top: 25%;
}



/* map */
.contact_grid {
    display: flex;
    padding: 0% 15%;
    gap: 10%;
    justify-content: center;
}

.contact {
    margin-top: 10%;
}

.contact_grid a {
    text-decoration: none;
    color: #F85F02;
}